/** ${header_comment} */

#include "c128d_usb_keys.hpp"

${output_pins}

KeyInfo usb_key_mapping[MAX_USB_KEY_CODE + 1] = {
${usb_key_mapping}};

PinState* pins_state[OUTPUT_PINS_COUNT] = {
${pins_set_array}};

uint8_t usb_key_buffer[KEY_BUFFER_SIZE];
